<form #employeeForm="ngForm" ngNativeValidate (ngSubmit)="saveEmployee(employee)">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Add Employee</h3>
    </div>
    <div class="panel-body">
      <div class="form-group" [class.has-error]="name.invalid && name.touched">
        <label for="name" class="control-label">Full Name</label>
        <input id="name" required name="name" [(ngModel)]="employee.name" #name="ngModel" type="text" class="form-control">
        <span class="help-block" *ngIf="name.invalid && name.touched">Name is required</span>
      </div>
      <div class="form-group" [class.has-error]="email.invalid && email.touched" [class.has-success]="email.valid">
        <label for="email" class="control-label">Email</label>
        <input id="email" required email name="email" [(ngModel)]="employee.email" #email="ngModel" type="text" class="form-control">
        <span class="help-block" *ngIf="email.errors?.required && email.touched">Email is required</span>
        <span class="help-block" *ngIf="email.errors?.email && email.touched">Email is invalid</span>
      </div>
      <div class="form-group" [class.has-error]="phone.invalid && phone.touched" [class.has-success]="phone.valid">
          <label for="phone" class="control-label">Phone Number</label>
          <input type="text" required numeric id="phone" class="form-control" name="phone" #phone="ngModel" [(ngModel)]="employee.phone">
          <span class="help-block" *ngIf="phone.invalid && phone.touched">Phone is invalid</span>
      </div>
      <div class="form-group" [class.has-error]="gender.invalid && gender.touched" [class.has-success]="gender.valid">
        <label class="control-label">Gender</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" required [(ngModel)]="employee.gender" value="male" name="gender" #gender="ngModel">
            Male
          </label>
          <label class="radio-inline">
              <input type="radio" required [(ngModel)]="employee.gender" value="female" name="gender" #gender="ngModel">
              Female
            </label>
        </div>
        <span class="help-block"*ngIf="gender.invalid && gender.touched">Gender is required</span>
      </div>
      <div class="form-group">
          <label>Contact Preference</label>
          <div class="form-control">
            <label class="radio-inline">
              <input type="radio" [(ngModel)]="employee.contactPreference" value="email" name="contactPreference">
              Email
            </label>
            <label class="radio-inline">
              <input type="radio" [(ngModel)]="employee.contactPreference" value="phone" name="contactPreference">
              Phone
              </label>
          </div>
        </div>
        <div class="form-group">
            <div class="form-control">
              <label class="checkbox-inline">
                <input type="checkbox" name="isActive" [(ngModel)]="employee.isActive">
                Is Active
              </label>
          </div>
        </div>
        <div class="form-group">
            <label for="department">
              Department
              <select id="department" name="department" [(ngModel)]="employee.department" class="form-control">
                <option *ngFor="let department of departments" value="{{department.id}}">{{department.name}}</option>
              </select>
            </label>
        </div>
        <div class="row">
        <div class="form-group col-xs-5">
            <label for="dateOfBirth">Date Of Birth</label>
            <input type="text" bsDatepicker placement="bottom" [bsConfig]="datePickerConfig" id="dateOfBirth" class="form-control" name="dateOfBirth" [(ngModel)]="employee.dateOfBirth">
        </div>
      </div>

      <div class="form-group">
        <label for="photoPth">Photo Path</label>
        <input id="photoPath" name="photoPath" [(ngModel)]="employee.photoPath" type="text" class="form-control">
      </div>

      <div class="form-group">
        <input type="button" class="btn btn-primary" [value]="preview_value" (click)="showPreview()">
      </div>

      <div class="form-group">
        <img [src]="photoPath" [hidden]="hidden_yn" height="200" width="200">
      </div>
    </div>
    
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>

{{employeeForm.value | json}}

<br><br>

Employee model : {{ employee | json }}